{% extends "block.html.twig"%}
{% block content %}
{% if site_logo %}
<div class="ttr_header_logo">
<a href="" target="_self">
<span class="ttr_header_logo_text">Website Logo</span>
</a>
</div>
{% endif %}
{% if site_name or site_slogan %}
{% endif %}
{% endblock %}
